<css src="blog.css" />

<div class="blogInsert">
<h4>发博文</h4>

{* 显示 当前视图 的消息队列 }
<msgqueue for="$theView" />


<form action="/?c=blog.insert" method="post">
	<div class="blogTit">
		<label>标题：</label>
		<widget id="title"/>
		<msgqueue for="$theView->widget('title')" />
	</div>
	<div class="blogContent_border">
		<widget id="text" attr.class="blogContent" />
		<msgqueue for="$theView->widget('text')" />
	</div>
	<div class="blogTag">
		<label>标签：</label>
		<widget id="tag"/>
		<msgqueue for="$theView->widget('tag')" />
	</div>
	<input type="submit" value="发布博文"  class="blogUpdate_btn" />
	
</form>
</div>